/* Add your CSS here to style the photography portfolio*/

/* Go here to get fonts: https://fonts.google.com/*/
/* Select a font, and copy it's @import statement. Paste at the top of this file.*/
@import url('https://fonts.googleapis.com/css2?family=Mogra&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik+Storm&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    font-size: 5em;
    margin-bottom: 0;
}
h2 {
    font-family: "Lora", serif;
    text-align: center;
    margin-top: 0;
}
/* Flexbox cheat sheet: https://flexbox.malven.co/*/
nav {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    margin-bottom: 1em;
}
nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}
body {
    background-color:rgba(52, 60, 68, 0.685)
}
nav a:hover {
    font-weight: bolder;
    color: darkslateblue;
}
#img-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    max-height: 3000px;
    border: 15px solid rgb(0, 0, 0);
    align-content: center;
}
img {
    /* if you only use width or height NOT both, then it will maintain aspect ratio */
    max-width: 250px;
    border: 5px solid rgba(0, 0, 0, 0.404);
    border-radius: 5px;
}

footer {
    display: flex;
    justify-content: space-around;
    
}